@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: OpenSans;
    font-weight: 400;
}

.header {
    background-image: url('/img/banner-bg.jpg');
    background-color: #888888;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
}

.header::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    max-width: 1200px;
    padding: 27px 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.header-container img {
    cursor: pointer;
    min-width: 200px;
    min-height: 50px;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list-item {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-right: 35px;
}

.menu-list-item:last-child {
    padding-right: 0;
}

.menu-list-item a {
    font-size: 1.3rem;
    text-decoration: none;   
    color: white;
    cursor: pointer;
}

.menu-list-item a:hover {
    text-decoration: underline;
}

.main-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 7.5rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding-top: 115px;
    padding-bottom: 115px;
}

.page {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.trends {
    position: relative;
}

.title-text {
    display: block;
    text-align: center;
    position: relative;
    font-size: 2rem;
    line-height: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 27px;
}

.title-text::after {
    content: '';
    display: flex;
    width: 65px;
    height: 3px;
    position: absolute;
    left: 48.5%;
    background-color: #b59f5b;
}

.trend-items {
    display: flex;
}

.trend-item {
    background-size: cover;
    position: relative;
    width: 25%;
    height: 320px;
    margin-right: 5px;
}

.trend-item::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.trend-item:last-child {
    margin-right: 0px;
}

.item_1 {
    background-image: url('/img/trend1.jpg');
}

.item_2 {
    background-image: url('/img/trend2.jpg');
}

.item_3 {
    background-image: url('/img/trend3.jpg');
}

.item_4 {
    background-image: url('/img/trend4.jpg');
}

.trend-item-text {
    position: relative;
    width: 80%;
    border: 2px solid #b59f5b;
    padding: 30px 15px;
    margin: 130px auto 15px auto;
    z-index: 2;
}

.trend-title a {
    display: block;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.trend-title a:hover {
    color: #b59f5b;
}

.posts-content {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.main-content {
    display: inline;
    width: 70%;
    max-width: 800px;
}

.post {
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 6rem;
    flex: 1 1 auto;
}

.post:last-child {
    padding-bottom: 70px;
}

.post img {
    display: inline-block;
    max-width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 30px;
    flex-grow: 0
}

.post-category {
    display: flex;
    list-style-type: none;
    padding-bottom: 10px;
}

.post-category-item a {
    font-size: 1.4rem;
    font-weight: 700;
    padding-right: 15px;  
    text-transform: uppercase;
    text-decoration: none;
    color: #b59f5b;
}

.post-category a:hover {
    text-decoration: underline;
}

.post-title a {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.post-title a:hover {
    color: #b59f5b;
    text-decoration: none;
}

.post-date-author {
    padding-bottom: 50px;
}

.post-date {
    font-size: 1.2rem;
    color: #888888;
}

.post-author {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 15px;
}

.post-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.right-bar {
    width: 30%;
    max-width: 270px;
    margin-top: -1rem;
    margin-left: 12rem;
    padding-right: 1.5rem;
}

.aside-title-text {
    display: block;
    text-align: center;
    position: relative;
    max-width: 270px;
    font-size: 1.4rem;
    line-height: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 27px;
}

.aside-title-text::after {
    content: '';
    display: flex;
    width: 65px;
    height: 3px;
    position: absolute;
    left: 103px;
    background-color: #b59f5b;
}

.new-post {
    display: flex;
    max-width: 270px;
    justify-content: flex-start;
    padding-bottom: 2rem;
}

.new-post:last-child {
    padding-bottom: 60px;
}

.new-post img {
    width: 70px;
    height: 70px;
}

.new-post-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
}

.new-post-date {
    font-size: 1.2rem;
    padding-bottom: 4px;
}

.new-post-title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    width: 190px;
    text-transform: uppercase;
}

.new-post-title a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.new-post-title a:hover {
    color: #b59f5b;
}

.search-form {
    display: flex;
    margin-bottom: 60px;
}

.search-form label {
    display: flex;
}

.search-input-field {
    width: 220px;
    height: 50px;
    padding: 15px;
    font-size: 1.3rem;
    line-height: 4rem;
    background-color: #f4f7f6;
    box-sizing: border-box;
    border: 1px solid #f4f7f6;
}

.search-input-field::placeholder {
    color: #bdc0bf;
}

.search-input-field:focus {
    border: 1px solid #b59f5b;
    outline: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search-button {
    display: block;
    background-color: #b59f5b;
    background-image: url('/svg/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #323232;
    outline: none;
}

.email-input-field {
    width: 270px;
    height: 50px;
    padding: 15px;
    font-size: 1.3rem;
    line-height: 4rem;
    background-color: #f4f7f6;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #f4f7f6;
}

.email-input-field::placeholder {
    color: #bdc0bf;
}

.email-input-field:focus {
    border: 1px solid #b59f5b;
    outline: none;
}

.email-button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
    height: 50px;
    background-color: #b59f5b;
    font-size: 1.4rem;
    line-height: 2.9rem;
    font-weight: 700;
    border: none;
    color: white;
    cursor: pointer;
}

.email-button:hover {
    background-color: #323232;
    outline: none;
}

.tags {
    margin-top: 60px;
}

.tags-container {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.tags-container-item {
    border: 3px solid #eeeeee;
    box-sizing: border-box;
    padding: 2px 12px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.tags-container-item a {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.tags-container-item:hover {
    border: 3px solid #b59f5b;
}

.themes {
    margin-top: 60px;
}

.themes-list {
    list-style-type: none;
}

.themes-list-item {
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: 1px solid #eeeeee;
}

.themes-list-item a {
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

.themes-list-item a:hover {
    color: #b59f5b;
}

.themes-list-item-number {
    vertical-align: super;
    font-size: 1.3rem;
    color: #b59f5b;
    font-weight: 700;
}

.shop {  
    padding-bottom: 70px;
}

.shop-items {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.shop-item {
    width: 33%;
    padding-right: 75px;
    position: relative;
}

.shop-item:last-child {
    padding-right: 0;
}

.shop-item-text {
    height: 265px;
    border: 2px solid #b59f5b;
    padding: 50px 15px;
    position: relative;
    box-sizing: border-box;
    top: -30px;
}

.shop-item img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.shop-item-text_title {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
}

.shop-item-text p a {
    text-decoration: none;
    color:#b59f5b;
}

.shop-item-text_title p {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 400;
}

.shop-item-text p a:hover {
    text-decoration: underline;
}

.shop-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
}

.shop-item-footer_prices {
    display: flex;
    flex-direction: column;
}

.shop-item-footer_prices-old-price { 
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: line-through;
}

.shop-item-footer_prices-new-price {
    font-size: 2rem;
    font-weight: 700;
}

.in-shop {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
    background-color:#b59f5b;
    border: none;
    color: white;
    text-transform: uppercase;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    max-width: 1170px;
    height: 86px;
    background-color: #f4f7f6;
    margin-bottom: 73px;
    margin-left: auto;
    margin-right: auto;
}

.footer-container-item a {
    background-repeat: no-repeat;
    padding: 0 25px;
    width: 20px;
    height: 20px;
}

.dribbble-logo {
    background-image: url('/svg/001-dribbble.svg');
}

.pinterest-logo {
    background-image: url('/svg/002-pinterest.svg');
}

.tumblr-logo {
    background-image: url('/svg/003-tumblr.svg');
}

.copyright {
    display: block;
    font-size: 1.2rem;
    line-height: 4rem;
    font-weight: 700;
    padding-bottom: 42px;
    color: #bbbbbb;
    text-decoration: none;
    text-align: center;
}

.copyright:hover {
    text-decoration: underline;
}


@media (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 51%;
    }
}
/* 
@media (max-width: 360px) {

}

@media (max-width: 640px) and (orientation: portrait) {
    .trend-item {
        width: 100%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trend-item {
        width: 50%;
    }
} */