@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Bold.woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: OpenSans, Arial, sans-serif;
    font-weight: 400;
}

/* хэдер */
.header {
    background-image: url('../img/banner-bg.jpg');
    background-color: #888888;
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
}

.header::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: relative;
    max-width: 1200px;
    padding: 27px 15px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.header-container img {
    min-width: 200px;
    min-height: 50px;
    cursor: pointer;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list__item {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding-right: 35px;
}

.menu-list__item:last-child {
    padding-right: 0;
}

.menu-list__item a {
    font-size: 1.3rem;
    text-decoration: none;   
    color: white;
    cursor: pointer;
}

.menu-list__item a:hover {
    text-decoration: underline;
}

.burger-menu {
    display: none;
}

.main-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 7.5rem;
    color: white;
    margin: 0 auto;
    padding: 115px 0;
}

/* всплывающее окно */
.popup {
    display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:rgba(0, 0, 0, 0.7);
	z-index: 100;
}

.popup-container {
	position: relative;
	width: 30%;
	max-width: 700px;
	padding: 30px 20px;
	background-color: white;
}

.feedback {
	font-size: 1.2rem;
}

.title__text {
    display: block; 
    position: relative;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.title__text::after {
    content: '';
    display: flex;
    width: 66px;
    height: 3px;
    position: absolute;
    /* left: calc(50% - 33px); */
    left: 50%;
    transform: translateX(-50%);    
    background-color: #b59f5b;
    opacity: 0.7;
}

.feedback__title {
    font-size: 2rem;
    line-height: 4rem;
}

.form-row {
	margin-bottom: 20px;
}

.form-row__question-select {
	display: inline-block;
	width: 100%;
	margin-top: 10px;
	padding: 13px 10px;
	font-size: 1.3rem;
	color: grey;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	background: #f4f7f6 url('../svg/form-arrows.svg') no-repeat right 10px center;
	background-size: 8px;
    cursor: pointer;
}

.form-row__question-select:focus, .form-row__question-select:hover {
	outline: 1px solid #b59f5b;
	outline-offset: -1px;
}

.form-row__hint {
	display: block;
	margin-bottom: 10px;
}

.form-row__radio-group {
	display: inline-block;
}

.form-row__radio-group:nth-of-type(n+2) {
	margin-left: 5px;
}

.form-row__radio-group-text::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	background: url('../svg/form-empty-circle.svg') no-repeat center center;
	background-size: 100%;
}

.radio {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
}

.radio:checked ~ .form-row__radio-group-text::before {
	background-image: url('../svg/form-circle.svg');
}

.form-row__textarea {
	width: 100%;
	min-height: 100px;
	resize: none;
	padding: 10px;
	margin-top: 10px;
	font: inherit;
	color: grey;
	background-color: #f4f7f6;
    box-sizing: border-box;
	border: none;
}

.form-row__textarea:hover, .form-row__textarea:focus {
	outline: 1px solid #b59f5b;
	outline-offset: -1px;
}

.send-btn {
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    color: white;
    cursor: pointer;
}

.send-btn:focus, .send-btn:hover {
	outline: 2px solid #b59f5b;
	outline-offset: 2px;
	color: black;
}

.popup__close-btn {
	position: absolute;
	top: -20px;
	right: 0;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: none;
    cursor: pointer;
}

/* раздел 'Сейчас в тренде' */
.trends__main-title {
    font-size: 2rem;
    line-height: 4rem;
}

.trends__items {
    display: flex;
	flex-wrap: wrap;
    margin-bottom: 65px;
}

.trends__item {
    display: flex;
	align-items: flex-end;
    flex-grow: 1;
    background-size: cover;
    position: relative;
    width: calc(25% - 5px);
    height: 380px;
    margin-right: 5px;
}

.trends__item::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.trends__item:last-child {
	margin-right: 0;
}

.trends__item_item-1 {
    background-image: url('../img/trend1.jpg');
}

.trends__item_item-2 {
    background-image: url('../img/trend2.jpg');
}

.trends__item_item-3 {
    background-image: url('../img/trend3.jpg');
}

.trends__item_item-4 {
    background-image: url('../img/trend4.jpg');
}

.trends__item-text {
    position: relative;
    width: 80%;
    border: 2px solid #b59f5b;
    padding: 30px 15px;
    margin: 130px auto 15px auto;
    z-index: 2;
}

.trends__title a {
    display: block;
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* основная (центральная) часть страницы */
.trends__title a:hover {
    color: #b59f5b;
}

.posts-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.main-content {
    width: 70%;
    max-width: 800px;
}

.post {
    display: flex;
    justify-content: flex-start;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 60px;
}

.post img {
    display: block;
    max-width: 100%;
    min-width: 381px;
    height: 100%;
    padding: 0px 30px 0px 15px;
}

.post__category {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-bottom: 10px;
}

.post__category-item a {
    font-size: 1.4rem;
    font-weight: 700;
    padding-right: 15px;  
    text-transform: uppercase;
    text-decoration: none;
    color: #b59f5b;
}

.post__category a:hover {
    text-decoration: underline;
}

.post__title a {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding-bottom: 35px;
}

.post__title a:hover {
    color: #b59f5b;
    text-decoration: none;
}

.post__date-author {
    padding-bottom: 50px;
}

.post__date {
    font-size: 1.2rem;
    color: #888888;
}

.post__author {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 15px;
    text-decoration: none;
    color: black;
}

.post__text {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

/* боковая часть страницы */
.right-bar {
    width: 30%;
    max-width: 280px;
    margin-top: -5px;
    padding: 0px 15px 0px 120px;
}

.new-post {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.new-post:last-child {
    padding-bottom: 60px;
}

.new-post img {
    width: 70px;
    height: 70px;
}

.new-post__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15px;
}

.new-post__date {
    font-size: 1.2rem;
    padding-bottom: 4px;
}

.new-post__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

.new-post__title a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.new-post__title a:hover {
    color: #b59f5b;
}

/* поиск  */
.search__form {
    display: flex;
    margin-bottom: 60px;
}

.search__form label {
    flex-grow: 1;
}

.search__input-field {
    width: 100%;
    height: 50px;
    padding: 0px 15px;
    font-size: 1.3rem;
    background-color: #f4f7f6;
    box-sizing: border-box;
    border: 1px solid #f4f7f6;
}

.search__input-field::placeholder {
    color: #bdc0bf;
}

.search__input-field:focus, .search__input-field:hover{
    outline: 1px solid #b59f5b;
	outline-offset: -1px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.search__btn {
    display: block;
    background-color: #b59f5b;
    background-image: url('../svg/search.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 50px;
    border: none;
    cursor: pointer;
}

.search__btn:hover {
    background-color: #323232;
    outline: none;
}

/* рассылка */
.subscribe {
    margin-bottom: 60px;
}

.subscribe__email-input-field {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 1.3rem;
    background-color: #f4f7f6;
    margin-bottom: 20px;
    -webkit-appearance: none;
	-moz-appearance: none;
    box-sizing: border-box;
    border: 1px solid #f4f7f6;
}

.subscribe__email-input-field::placeholder {
    color: #bdc0bf;
}

.subscribe__email-input-field:focus, .subscribe__email-input-field:hover {
    outline: 1px solid #b59f5b;
	outline-offset: -1px;
}

.email-button:hover {
    background-color: #323232;
    outline: none;
}

/* теги */
.tags {
    margin-bottom: 60px;
}

.tags__container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.tags__container-item {
    border: 3px solid #eeeeee;
    box-sizing: border-box;
    padding: 2px 12px;
    margin-right: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.tags__container-item a {
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.tags__container-item:hover {
    border: 3px solid #b59f5b;
}

.themes__list {
    list-style-type: none;
}

.themes__list-item {
    padding: 20px 0px;
    border-bottom: 1px solid #eeeeee;
}

.themes__list-item a {
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: none;
}

.themes__list-item a:hover {
    color: #b59f5b;
}

.themes__list-item-number {
    vertical-align: super;
    font-size: 1.3rem;
    font-weight: 700;
    color: #b59f5b;
}

.shop {  
    padding-bottom: 70px;
}

.shop__title {
    font-size: 2rem;
    line-height: 4rem;
}

.shop__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.shop__item {
	display: flex;
	flex-direction: column;
    width: calc(33% - 43px);
}

.shop__item:last-child {
    padding-right: 0;
}

.shop__item-image {
    width: 87%;
	margin: 0 auto;
}

.shop__item img {
    width: 100%;
}

.shop__item-text {
    flex-grow: 1;
	padding: 40px 20px 25px 20px;
	margin-top: -30px;
	border: 2px solid #b59f5b;
}

.shop__item-title {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 700;
}

.shop__item-text span {
    font-size: 1.5rem;
    line-height: 2.2rem;
}

.shop__item-text span a {
    text-decoration: none;
    color:#b59f5b;
}

.shop__item-text span a:hover {
    text-decoration: underline;
}

.shop__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.shop__item-prices {
    display: flex;
    flex-direction: column;
}

.shop__item-price-old { 
    font-size: 1.4rem;
    text-decoration: line-through;
}

.shop__item-price-new {
    font-size: 2rem;
}

.shop__btn {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
    background-color:#b59f5b;
    border: none;
    color: white;
    text-transform: uppercase;
}

.shop__btn:hover, .shop__btn:focus {
    outline: 2px solid #b59f5b;
	outline-offset: 2px;
	color: black;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
    max-width: 1200px;
    height: 90px;
    background-color: #f4f7f6;
    margin-bottom: 73px;
    margin-left: auto;
    margin-right: auto;
}

.footer-container__item a {
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 30px;
    width: 20px;
    height: 20px;
}

.dribbble-logo {
    background-image: url('../svg/001-dribbble.svg');
}

.pinterest-logo {
    background-image: url('../svg/002-pinterest.svg');
}

.tumblr-logo {
    background-image: url('../svg/003-tumblr.svg');
}

.copyright {
    display: block;
    font-size: 1.2rem;
    line-height: 4rem;
    font-weight: 700;
    padding-bottom: 42px;
    color: #bbbbbb;
    text-decoration: none;
    text-align: center;
}

.copyright:hover {
    text-decoration: underline;
}


@media screen and (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url('../img/banner-bg-tablet.jpg');
        background-position: bottom left;
    }

    .header-container {
        padding: 10px 45px;
    }
    
    .popup-container {
		width: 50%;
	}
	
    .menu-list  {
        display: none;
    }

    .burger-menu {
        display: block;
        margin-left: 195px;
    }

    .trends__items {
        flex-wrap: wrap;
    }

    .trends__item {
        width: calc(50% - 5px);
        
    }
    .trends__item:nth-child(even) {
        margin-bottom: 5px;
        margin-right: 0;
    }

    .main-content {
        width: 60%;
        padding-left: 45px;
    }

    .post {
        display: block;
        border-bottom: 1px solid #bbbbbb;
        margin-bottom: 50px;
    }

    .post:last-child {
        border: none;
        margin-bottom: 0;
    }

    .post img {
        padding: 0 0 50px 0;
        width: 150%;
    }

    .right-bar {
        width: 40%;
        padding: 0px 45px 0px 60px;
    }

    .shop__items {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .shop__item {
        width: calc(50% - 55px);
    }  
    
    .shop__item:nth-child(odd) {
        margin: 0px 10px 25px 45px;
    }

    .shop__item:nth-child(even) {
        margin: 0px 45px 25px 10px;
    }

    .footer {
        margin: 0px 45px;
    }
}


@media screen and ((min-width: 641px) and (max-width: 1199px)) and (orientation: landscape) {
    .trends__items {
        flex-wrap: nowrap;
    }

    .trends__item:nth-child(even) {
        margin-right: 5px;
    }

    .trends__item:last-child {
        margin-right: 0px;
    }
} 


@media screen and (max-width: 640px) {   
    .header {
        height: 100vh;
        background-image: url('../img/banner-mobile.jpg');
        background-position: bottom right;
        margin-bottom: 35px;
    }

    .header-container {
        display: block;
        position: relative;
        margin: 0 15px;
    }

    .header-container img {
        margin: 50% 15px 0px 15px;
    }

    .popup-container {
		width: 80%;
	}
	
    .menu-list {
        display: none;
    }

    .burger-menu {
        display: block;
        position: absolute;
        top: 30px;
        right: 0px;
    }

    .main-title {
        font-size: 3.25rem;
        line-height: 4.5rem;
        padding-top: 45px;
    }

    .title__text {
        margin-bottom: 35px;
    }

    .trends__items {
        display: block;
    }

    .trends__item {
        position: relative;
        height: 230px;
        margin-bottom: 5px;
    }

    .trends__item:last-child {
        margin-bottom: 35px;
    }

    .trends__item-text {
        position: absolute;
        bottom: 15px;
        left: 15px;
        width: calc(100% - 30px);
        box-sizing: border-box;
    }

    .posts-content {
        display: block;
        margin-top: 0;
        padding: 0px 15px;
        margin: 0 auto;
    }

    .main-content {
        width: 100%;
    }

    .post {
        display: block;
        border-bottom: 2px solid #f1eded;
        padding-bottom: 25px;
        margin-bottom: 30px;
    }

    .post img {
        display: block;
        width: 100%;
        min-width: inherit;
        padding: 0px 0px 15px 0px;
        margin: 0;
    }

    .post__content {
        padding: 0px 15px;
    }

    .post__title a, .post__date-author {
        padding-bottom: 30px;
    }

    .right-bar {
        width: 100%;
        max-width: 100%;
        padding: 0px;
        margin: 0 auto;
    }

    .title__text {
        font-size: 2rem;
        line-height: 3.75rem;
        max-width: none;
    }

    .new-post {
        width: 100%;
        max-width: none;
    }

    .new-post__text {
        display: block;
        width: 100%;
    }

    .new-post__date {
        font-size: 1.5rem;
        padding-bottom: 5px;
    }
    .new-post__title {
        width: inherit;
    }

    .new-post__title a {
        font-size: 1.75rem;
        line-height: 2.25rem;
    }

    .search__form label, .search__input-field, .subscribe__email-input-field, .email-button, .tags__container  {
        width: 100%;
    }

    .search__input-field, .subscribe__email-input-field {
        font-size: 1.6rem;
        line-height: 5rem;
    }

    .email-button {
        font-size: 1.75rem;
        line-height: 5rem;
    }

    .tags__container-item a {
        font-size: 1.5rem;
    }

    .themes__list-item:last-child {
        margin-bottom: 45px;
    }

    .themes__list-item a {
        font-size: 1.75rem;
        line-height: 5.8rem;
    }

    .shop {
        padding: 0 15px;
    }

    .shop__items {
        display: block;
    }

    .shop__item {
        width: 100%;
        margin-bottom: 25px;
    }

    .footer {
        margin: 0px 15px;
    }

    .footer-container {
        margin-bottom: 55px;
        max-width: none;
    }
}   


@media screen and (max-width: 640px) and (orientation: portrait) {
    .trends__item {
        width: 100%;
    }
}


@media screen and (max-width: 640px) and (orientation: landscape) {
    .header {
        height: 100vh;
    }

    .header-container img {
        margin: 10% 15px 0px 15px;
    }

    .trends__items {
        display: flex;
    }

    .trends__item {
        width: calc(50% - 5px);
        margin-right: 5px;
    }

    .trends__item:nth-child(even) {
        margin-right: 0px;
    }
}


@media screen and (min-width: 768px) {
    html {
        font-size: 62.5%;
    }
}


@media screen and (max-width: 767px) {
    html {
        font-size: 51%;
    }
}